<ui>
  <li><%= "ID: #{@cocktail.id}"%> </li>
  <li><%= "Name: #{@cocktail.name}"%> </li>
  <li><%= "Min value: #{@cocktail.min_value}"%> </li>
  </ui>
<p>Ingredients</p>
<hr>
<ul>
        <% @cocktail.ingredients.each do |ingredient| %>
    <li> <%= "#{ingredient.product.name} #{ingredient.value}" %></li>
    <%end%>
    </ul>