<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>Cocktail bar!</h1>
    <%= render partial: 'welcome/carousel' %>
</div>

<div class="container">
  <div class="row">

        <%=  render partial: 'welcome/item' %>

  </div>
  <hr>
  <footer>
    <p>&copy; 2016 BigCompany, Chern.</p>
  </footer>
</div> <!-- /container -->


