<div class="jumbotron">
  <h1>Cocktail bar!</h1>
  <%= render partial: 'welcome/carousel', locals:{f: @cocktails} %>
</div>

<div class="container">

  <div class="row">
    <% @cocktails.each do |cocktail|  %>
      <%  if cocktail.visible == "show" %>
        <%=  render partial: 'welcome/item', locals:{f: cocktail} %>
      <%end%>
    <%end%>
  </div>
  <hr>

  <footer>
    <p>&copy; 2016 BigCompany, Chern.</p>
  </footer>
</div>

