<div class="jumbotron">
  <h1>Cocktail bar!</h1>
  <%= render partial: 'welcome/carousel', locals:{f: @cocktails} %>
</div>

<div class="container">
  <div class="row">
    <%# @cocktails.each do |cocktail|  %>
        <%=  render partial: 'welcome/item'%>
    <%#end%>
  </div>
  <hr>
  <footer>
    <p>&copy; 2016 BigCompany, Chern.</p>
  </footer>
</div> <!-- /container -->
