<div class="col-md-1"></div>
<div class="col-md-4"><%=f.text_field(:name)%></div>
<div class="col-md-2"><%=f.number_field(:name)%></div>
<div class="col-md-2"><%=f.number_field(:name)%></div>
<div class="col-md-2"><%=f.select(:product_type, Product.product_typestype)%></div>