<div id="<%= product.id %>" data-id="<%= product.id %>">




  <%if mode == :show %>
    <%= render partial: 'row', locals: {product: product} %>
  <% else %>
     <%= render partial: 'edit_row', locals: {product: product} %>
  <%end%>

<hr>
  </div>